/* card section styling */
.benefits {
    margin-top: 3rem;
    height: 45vh;
  }
  .benefits__heading {
    font-size: 1.5rem;
  }
  .benefits__heading h1 {
    margin-left: 7rem;
    padding-top: 1rem;
  }
  .benefits__card {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    padding-bottom: 2rem;
  }
  .benefits__card p {
    color: var(--landing-text);
  }
  .benefits__card__bank {
    background-color: #FFF;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1), -6px -6px 10px rgba(255, 255, 255, 1);
    width: 25rem;
    height: 34vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    border-radius: 5px;
    box-shadow: #1e1e1e;
    padding: 1rem;
    cursor: pointer;
  }
  .benefits__card__bank:hover {
    scale: 1.1;
    transition: all 400ms ease-out;
  }
  .benefits__card__bank__icon {
    font-size: 7rem;
    color: #443CDF;
  }
  .benefits__card__bank__text {
    text-align: center;
    font-size: 1.2rem;
  }
  .benefits__card__safety {
    background-color: #FFF;
    width: 25rem;
    height: 34vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    border-radius: 5px;
    box-shadow: #1e1e1e;
    padding: 1rem;
    cursor: pointer;
  }
  .benefits__card__safety:hover {
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1), -6px -6px 10px rgba(255, 255, 255, 1);
    scale: 1.1;
    transition: all 400ms ease-out;
  }
  .benefits__card__safety__text {
    text-align: center;
    font-size: 1.2rem;
  }
  .benefits__card__stats {
    background-color: aliceblue;
    width: 25rem;
    height: 34vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    border-radius: 5px;
    box-shadow: #1e1e1e;
    padding: 1rem;
    cursor: pointer;
  }
  .benefits__card__stats:hover {
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1), -6px -6px 10px rgba(255, 255, 255, 1);
    scale: 1.1;
    transition: all 400ms ease-out;
  }
  .benefits__card__stats__text {
    text-align: center;
    font-size: 1.2rem;
  }
  .benefits__card__stats__icon {
    font-size: 7rem;
  }
  .benefits__card__stats__icon:hover {
    color: #443CDF;
  }
  .benefits__card__subheading {
    font-size: 1.5rem;
  }
  .benefits__card__link {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 12rem;
    margin-top: 2rem;
  }
  .benefits__card__link__text {
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
  }
  .benefits__card__link__text.active {
    color: #443CDF;
  }
  .benefits__card__link__icon.active {
    color: #443CDF;
  }

  @media (max-width: 475px) {
    .container {
      max-width: 475px;
    }
    .benefits {
      margin-top: -7rem;
    }
    .benefits__card {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      justify-content: center;
      align-items: center;

    }
    .benefits__card__bank {
      height: 24rem;
      width: 26rem;
    }
    .benefits__card__bank__icon {
      font-size: 4rem;
      color: #1e1e1e;
    }
    .benefits__card__link {
      margin-left: 2rem;
      margin-top: 1rem;
    }
    .benefits__card__bank__text {
      text-align: center;
      font-size: 1.2rem;
      width: 20rem;
    }
  }
  